<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185517811DBEF8AA000E394B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185517921DBEF8AB000E394B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1855179D1DBEF8AB000E394B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
